<div class="w-full duration-500 hover:-translate-y-1 hover:shadow-md border border-neutral-300 rounded-lg overflow-hidden">
  {{ if .Params.image }}
  <img id="thumb" alt="{{.Title}}" class="aspect-[4/3] object-cover w-full"
    src="{{ .Params.image | relURL }}" />
  {{ else }}
  <img id="thumb" alt="{{.Title}}" class="aspect-video object-cover w-auto lg:h-44"
    src='{{ "/img/default.jpg" | relURL }}'>
  {{ end }}
<div class="relative py-2 justify-between leading-normal w-full text-center">
  <div class="text-gray-900 font-semibold text-2xl mb-2">{{ .Title }}</div>
</div>
</div>
